*,
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    
}
.bg-gradient{
    background: linear-gradient(yellow, #cacaca);
}
main{
    background-image: url(image/homeimage.jpg);
}
footer img{
    width: 5vw !important;
}
#copyimage{
    border-radius: 50% !important;
    float: left !important;
}
footer img{
    border-radius: 50%; 
}

