table {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-direction: column;
    margin: 25px;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 0;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
 
  
  table th {
    margin: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
  }
nav.fa-bars{
  display: none;
}
        /* media queries */

        @media only screen and (max-width: 660px) {
          body {
            background-color: lightblue;

          }
          header nav ul { display: none;}
          nav.fa-bars{
            display: block;
            font-size: 20px;
          }
          nav ul{
            background-color: azure;
            position: fixed;
            top: 0;
            right: -200px;
            width: 200px;
            height: 100vh;
            padding: 60px;
            z-index: 2;
          }
          nav ul li {
            display: block;
            margin: 25px;
          }
          nav ul.fas{
            position: absolute;
            left: 25;
            right: 25;
            cursor: pointer;
          }
        }
      
       