.dropdown {
    position: relative;
    display: inline-block;
  }
  button{
    font-size: 40px;
  }
  .dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu a {
    color: #0d31d3;
    padding: 5px 6px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown:hover .dropdown-button {
    background-color: #3e8e41;
  }
  .col-md-4:hover{
    color: #3e8e41;
    background: -moz-linear-gradient(yellow, #3e8e41);


  }